module.exports = {
    keepaliveInterval: 1000, // SSH keepalive interval [ms]
    reconnectionTimeout: 5000, // Specify timeout, which will force app to reconnect over SSH [ms]
    jenkins: 'http://jenkins.yourdomain.com', //your jenkins URL (optional)
    gerrit: {
        host: 'gerrit.yourdomain.com',
        username: 'your.gerrit.username',
        port: 29418
    }, //gerrit server configuration
    me: 'your.name@google.com', //your gerrit email
    team: [
        'team.member1@google.com',
        'team.member2@google.com',
        'team.member3@google.com'
    ], //your team member's gerrit email list
    icon: {
        'team.member1@google.com': 'crying.png'
    }, //'email' to 'image file name' path map
    privateKey: '/Users/me/.ssh/id_rsa', //path to your privateKey (required by SSH to set connection)
    projects: [
        'project name'
    ]
};