export const config = {
    keepaliveInterval: 1000, // SSH keepalive interval [ms]
    reconnectionTimeout: 5000, // Specify timeout, which will force app to reconnect over SSH [ms]
    jenkins: 'http://jenkins.yourdomain.com', //your jenkins URL (optional)
    jira: { // your jira config (optional)
        host: 'jira.yourdomain.com',
        username: 'your.jira.username',
        password: 'your.jira.password',
        usernames: { // mapping between gerrit email to jira username
            'your.name@google.com': 'your.jira.username',
            'team.member1@google.com': 'team.member1.jira.username'
        }
    },
    gerrit: {
        host: 'gerrit.yourdomain.com',
        username: 'your.gerrit.username',
        port: 29418
    }, //gerrit server configuration
    me: 'your.name@google.com', //your gerrit email
    team: [
        'team.member1@google.com',
        'team.member2@google.com',
        'team.member3@google.com'
    ], //your team member's gerrit email list
    icon: {
        'team.member1@google.com': 'crying.png'
    }, //'email' to 'image file name' path map
    ssh: {
        useAgent: true, // set this to false if providing privateKey and/or passphrase
        // privateKey: '/Users/me/.ssh/id_rsa' // path to your privateKey (required by SSH to set connection)
        // passphrase: '****' // optional additional key to include if private key is encrypted
    }
    projects: [
        'project name'
    ]
};